#pragma once

/* Edit the template file, not the generated header-file.
*/

#ifndef RESTC_CPP_CONFIG_H
#define RESTC_CPP_CONFIG_H

#cmakedefine RESTC_CPP_WITH_UNIT_TESTS 1

#endif // RESTC_CPP_CONFIG_H
